@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Oswald:wght@300;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.light-theme {
    --var-body-bg: white;
    --var-body-bg-list: white;
    --var-body-bg2: whitesmoke;
    --var-body-bg3:linear-gradient(90deg, #16577B 0%, #8AB5D8 100%);
    --var-body-fc: black;
    --var-body-fc2: #4C7E35;
    
}
.dark-theme {
    --var-body-bg: #1C1C1E;
    --var-body-bg-list: #373737;;
    --var-body-bg2: #373737;
    --var-body-bg3:#1C1C1E;
    --var-body-fc: white;
    --var-body-fc2: white;
}
.body{
 background-color: var(--var-body-bg);
}

.body{
 background-color: var(--var-body-bg);
}
.row-2{
    display: flex;
}
.biology{
    font-family: "Roboto", sans-serif;
    background-color: var(--var-body-bg2);
    color:  var(--var-body-fc2);
    width: 167px;
    height: 32px;
    margin-top: 22px;
    margin-left: 20px;
    border-radius: 16px;
    opacity: 0px;
    border: 0cm;
}
.Model{
    font-family: "Roboto", sans-serif;
    background-color: var(--var-body-bg);
    color: var(--var-body-fc);
    height: 32px;
    font-size: 16px;
    line-height: 18.75px;
    text-align: left;
    border: 0cm;
    margin-top: 22px;
    margin-left: 54px;
}
.footer{
    background-color: var(--var-body-bg);
    height: 70px;
}
.block1{
    display: flex;
    width: 350px;
    height: 168px;
    margin-top: 24px;
    left: 20px;
    margin-left: 30px;
    padding-top: 47px;
    border-radius: 14px;
    opacity: 0px;
    background: linear-gradient(102.55deg, #699844 4.24%, #255B20 98.23%);
}
.block2{
    display: flex;
    width: 350px;
    height: 116px;
    margin-top: 23px;
    margin-left: 30px;
    border-radius: 15px;
    background: linear-gradient(90deg, #167B7B 0%, #8AD8D8 100%);
}
.block3{
    display: flex;
    width: 350px;
    height: 116px;
    margin-top: 23px;
    margin-left: 30px;
    border-radius: 15px;
    background: linear-gradient(90deg, #16577B 0%, #8AB5D8 100%);

}
.block4{
    display: flex;
    width: 350px;
    height: 116px;
    margin-top: 23px;
    margin-left: 30px;
    border-radius: 15px;
    background: linear-gradient(90deg, #4F167B 0%, #AC8AD8 100%);
}
.block5{
    display: flex;
    width: 350px;
    height: 116px;
    margin-top: 23px;
    margin-left: 30px;;
    border-radius: 15px;
    background: linear-gradient(95.48deg, #255B20 4.37%, #699844 95.63%);
}
.block6{
    display: flex;
    width: 350px;
    height: 116px;
    margin-top: 23px;
    margin-left: 30px;
    border-radius: 15px;
    background: linear-gradient(90deg, #167B7B 0%, #8AD8D8 100%);
}
.block7{
    display: flex;
    width: 350px;
    height: 116px;
    margin-top: 23px;
    margin-left: 30px;
    border-radius: 15px;
    background: linear-gradient(90deg, #16577B 0%, #8AB5D8 100%);
}
.block8{
    display: flex;
    width: 350px;
    height: 116px;
    margin-top: 23px;
    margin-left: 30px;
    border-radius: 15px;
    background: linear-gradient(90deg, #4F167B 0%, #AC8AD8 100%);

}
.block9{
    display: flex;
    width: 350px;
    height: 116px;
    margin-top: 23px;
    margin-left: 30px;
    border-radius: 15px;
    background: linear-gradient(95.48deg, #255B20 4.37%, #699844 95.63%);
}
.block10{
    display: flex;
    width: 350px;
    height: 116px;
    margin-top: 23px;
    margin-left: 30px;
    border-radius: 15px;
    background: linear-gradient(90deg, #167B7B 0%, #8AD8D8 100%);
}
.block11{
    display: flex;
    width: 350px;
    height: 116px;
    margin-top: 23px;
    margin-left: 30px;
    border-radius: 15px;
    background: linear-gradient(90deg, #16577B 0%, #8AB5D8 100%);

}
.block12{
    display: flex;
    width: 350px;
    height: 116px;
    margin-top: 23px;
    margin-left: 30px;
    border-radius: 15px;
    background: linear-gradient(90deg, #4F167B 0%, #AC8AD8 100%);
}
.block13{
    display: flex;
    width: 350px;
    height: 116px;
    margin-top: 23px;
    margin-left: 30px;
    border-radius: 15px;
    background: linear-gradient(95.48deg, #255B20 4.37%, #699844 95.63%);
}
.block14{
    display: flex;
    width: 350px;
    height: 116px;
    margin-top: 23px;
    margin-left: 30px;
    border-radius: 15px;
    background:linear-gradient(90deg, #167B7B 0%, #8AD8D8 100%);


}
.block15{
    display: flex;
    width: 350px;
    height: 116px;
    margin-top: 23px;
    margin-left: 30px;
    border-radius: 15px;
    background: linear-gradient(90deg, #16577B 0%, #8AB5D8 100%);
}
.block16{
    display: flex;
    width: 350px;
    height: 116px;
    margin-top: 23px;
    margin-left: 30px;
    border-radius: 15px;
    background: linear-gradient(90deg, #4F167B 0%, #AC8AD8 100%);
}
.block17{
    display: flex;
    width: 350px;
    height: 116px;
    margin-top: 23px;
    margin-left: 30px;
    border-radius: 15px;
    background: linear-gradient(95.48deg, #255B20 4.37%, #699844 95.63%);
}
.block18{
    display: flex;
    width: 350px;
    height: 116px;
    margin-top: 23px;
    margin-left: 30px;
    border-radius: 15px;
    background: linear-gradient(90deg, #167B7B 0%, #8AD8D8 100%);
}
.block-title1{
    width: 203px;
    height: 24px;
    opacity: 0px;
    color: white;
    font-size: 20px;
    margin-left: 20px;
}
.block-title{
    width: 217px;
    height: 56px;
    opacity: 0px;
    color: white;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 27px;
}
.block-title-last{
    width: 230px;
    height: 56px;
    opacity: 0px;
    color: white;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 17px;
}
.block-descrip{
    padding-top: 8px;
    width: 186px;
    height: 42px;
    color: white;
    font-size: 12px;
    margin-left: 20px;
    
}
.image-block1{
    position: absolute;
    background-image: url(../../public/images//blocks/block1.svg);
    background-size: 190px;
    width: 170.83px;
    height: 208.11px;
    margin-left: 176px;
}   
.image-block2{
    position:absolute;
    background-image: url(../../public/images//blocks/block2.svg);
    width: 137px;
    height: 114px;
    margin-left: 211px;
}
.image-block3{
    position:absolute;
    background-image: url(../../public/images//blocks/block3.svg);
    width: 137px;
    height: 114px;
    margin-left: 211px;
}
.image-block4{
    position:absolute;
    background-image: url(../../public/images//blocks/block4.svg);
    width: 137px;
    height: 114px;
    margin-left: 211px;
}
.image-block5{
    position:absolute;
    background-image: url(../../public/images//blocks/block5.svg);
    width: 128px;
    height: 94px;
    margin-top: 16px;
    margin-left: 211px;
}
.image-block6{
    display: flex;
    position: absolute;
    width: 128px;
    height: 94px;
    margin-top: 16px;
    margin-left: 211px;
}
.image-X{
    background-image: url(../../public/images//blocks/Image-X.svg);
    width: 56px;
    height: 69px;
    top: 27px;
    left: 229px;
}
.image-Y{
    background-image: url(../../public/images//blocks/Image-Y.svg);
    width: 56px;
    height: 69px;
}
.image-block7{
    position:absolute;
    background-image: url(../../public/images//blocks/block7.svg);
    width: 115px;
    height: 116px;
    margin-top: 0;
    margin-left: 227px;
}
.image-block8{
    position:absolute;
    background-image: url(../../public/images//blocks/block8.svg);
    width: 131px;
    height: 99px;
    margin-top: 0;
    margin-left: 216px;
}
.image-block9{
    position:absolute;
    background-image: url(../../public/images//blocks/block9.svg);
    width: 115px;
    height: 116px;
    margin-top: 0;
    margin-left:242px;
}
.image-block10{
    position:absolute;
    background-image: url(../../public/images//blocks/block10.svg);
    width: 122px;
    height: 116px;
    margin-top: 0;
    margin-left:235px;
}